<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="">
      <div class="flex jsb container">
        <a class="btn btn-pri" href="/books">List of books</a>
        <strong>Book-Store</strong>
        <a class="btn btn-pri" href="/">Home</a>
      </div>
    </header>
    <main>
      <section class="hero-Sec">
        <h1>Bood details Page</h1>
      </section>
      <section class="bookDetails-sec sec-padding">
        <div class="bookDetails-div">
          <% if(book.cover_image) {%>
          <div class="img-div">
            <img src="<%= book.cover_image  %> " alt="image" />
          </div>
          <% } %>
          <h2>Title:- <%= book.title %></h2>
          <h3>Author:- <%= author.name %></h3>
          <h4>Pages:- (<%= book.pages %>)</h4>
          <h3>Publication:- <%= book.publication %></h3>
          <h4>Category:- (<%= book.category %>)</h4>
          <p>Summary:- <%= book.summary %></p>
        </div>
      </section>
    </main>
  </body>
</html>