<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Article </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1><%= article.title %></h1>
    <p><%= article.description %></p>
    <h5>Author: <%= article.author %></h5>
    <p>
        Tags: 
        <% article.tags.forEach( tag => { %>
            <span><%= tag %></span>
        <% }) %>
    </p>
    <h4>Likes: <%= article.likes ? article.likes : 0 %></h4>
    <a href="/articles/<%= article.id %>/likes">
        <button>Like</button>
    </a>
    <a href="/articles/<%= article.id %>/edit">
        <button>Edit Article</button>
    </a>
    <a href="/articles/<%= article.id %>/delete">
        <button>Delete Article</button>
    </a>
    <a href="/articles">
        <button>Home</button>    
    </a>
</body>
</html>